<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Termos</title>
    <link rel="stylesheet" href="{{ url_for('templates_lego_css', path='base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('templates_lego_css', path='termos.css') }}" />
</head>

<body>
  <div class="container">
    <div class="content">
      <h3 class="leia">LEIA E ACEITE OS TERMOS</h3>
      <div class="terms-container">
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
        <p>
          Ao continuar, você concorda com nossos termos e condições. Se você não concordar, por favor, não continue.
        </p>
      </div>

      <img id="accept-btn" src="{{ url_for('templates_lego_assets', path='images/termos_bt.png') }}" alt="accept-btn">
    </div>
  </div>

</body>

</html>