* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('../images/seguir_totem.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
