* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "Futuru Bold";
  src: url("/templates/lego/assets/fonts/Futuru-Bold-iF66d197b0e43bd.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body, h1, h2, h4, h5, h6,
p, span, a, li, label, input, textarea, select,
button, table, th, td, strong, em, small, div {
  font-family: "Futuru Bold", Arial, system-ui, sans-serif;
  color: black;
  letter-spacing: 0.1em;
}

h3 {
    color: white;
}

h2 {
    font-size: 12px;
    margin-bottom: 20px;
}

p {
    font-size: 10px;
}

.container {
    background-image: url('/templates/lego/assets/images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leia {
    margin-top: 60px;
    width: 100%;
    text-align: center;
}

.terms-container {
    width: 90%;
    height: 500px;
    margin-top: 30px;
    text-align: justify;

    background-color: white;
    border-radius: 6px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 2px;
}

.terms-container p {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px 12px;
    color: black;
}

#accept-btn {
    margin-top: 40px;
    width: 80%;
}