* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'HDColton-XWideLight';
    src: url('../assets/fonts/hd-colton/HDColton-XWideLight.otf') format('opentype');
}

@font-face {
    font-family: 'HDColton-XWideSemiBold';
    src: url('../assets/fonts/hd-colton/HDColton-XWideSemibold.otf') format('opentype');
}

@font-face {
    font-family: 'HDColton-XWideMedium';
    src: url('../assets/fonts/hd-colton/HDColton-XWideMedium.otf');
}


html,
body {
    touch-action: pan-x pan-y;
    overscroll-behavior: contain;
}

body {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

@media (pointer: coarse) {

    html,
    body {
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        touch-action: manipulation;
    }
}

.header {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}