* {
    font-family: 'HDColton-XWideLight' !important;
}

.container {
    width: 100%;
    min-height: 100dvh;
    background-image: url('../assets/images/tela1_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-height: 720px) {
        margin-top: 30px;
    }
}

.button-container button {
    font-family: 'HDColton-XWideMedium';
    letter-spacing: 0.2rem;
    padding: 10px 30px;
    font-size: 0.8rem;
    background-color: #000;
    color: #FDBB17;
    border: none;
    text-transform: uppercase;
}

.button-container .btn:disabled {
    cursor: not-allowed;
}

.terms-content {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    width: 80%;
    padding: 15px;
    height: 200px;
    overflow: scroll;
    text-align: justify;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-height: 820px) {
        height: 300px;
    }
}

/* Estilização da barra de rolagem */
.terms-content::-webkit-scrollbar {
    width: 8px;
}

.terms-content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.terms-content::-webkit-scrollbar-thumb {
    background: rgba(253, 187, 23, 0.8);
    border-radius: 4px;
}

.terms-content::-webkit-scrollbar-thumb:hover {
    background: rgba(253, 187, 23, 1);
}

/* Para Firefox */
.terms-content {
    scrollbar-width: thin;
    scrollbar-color: rgba(253, 187, 23, 0.8) rgba(255, 255, 255, 0.1);
}


.terms-content p {
    font-family: 'HDColton-XWideSemiBold';
    font-size: 10px;
    text-transform: uppercase;
    color: #FDBB17;
}


.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'HDColton-XWideLight';
    font-size: 12px;
    text-transform: uppercase;
    color: #FDBB17;
    user-select: none;

    @media (min-height: 720px) {
        margin-top: 40px;
    }
}

.checkbox-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    outline: none;
    vertical-align: middle;
}


.checkbox-container input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 0px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: block;
}


.checkbox-container input:disabled+span,
.checkbox-container input:disabled {
    cursor: not-allowed;
}

.after-terms-text {
    margin-top: 15px;
    font-family: 'HDColton-XWideSemiBold';
    font-size: 10px;
    color: #FDBB17;
    text-align: center;

    @media (min-height: 720px) {
        margin-top: 30px;
    }

}

.footer-product {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    max-width: 300px;
    height: auto;
    z-index: 10;

    @media (min-height: 720px) {
        max-width: 400px;

    }
}

.footer-product img {
    width: 100%;
    height: auto;
    display: block;
}